<div class="page-header">
  <%= link_to drugs_path, class: 'btn btn-default' do %>
    <span class="fa fa-chevron-left"></span>
    <%= I18n.t('crud.back') %>
  <% end %>
  <h3><%= t('drugs.new.new')%></h3>
</div>

<%= render 'form' %>
