<div class="page-header">
  <%= link_to services_path, class: 'btn btn-default' do %>
    <span class="fa fa-chevron-left"></span>
    <%= I18n.t('crud.back') %>
  <% end %>
  <h3><%= I18n.t('crud.creating') %> service</h3>
</div>

<%= render 'form' %>
