<div class="page-header">
  <%= link_to treatments_path, class: 'btn btn-default' do %>
    <span class="fa fa-chevron-left"></span>
    <%= Voltar %>
  <% end %>
  <h3><%= Criando %> treatment</h3>
</div>

<%= render 'form' %>
