<div class="page-header">
  <%= link_to illnesses_path, class: 'btn btn-default' do %>
    <span class="fa fa-chevron-left"></span>
    <%= Voltar %>
  <% end %>
  <h3><%= Criando %> illness</h3>
</div>

<%= render 'form' %>
