<h3><%= t('modulos.edit.edit')%></h3>
<%= render 'form' %>
<br>
<%= link_to I18n.t('crud.show'), @modulo, class: "btn btn-sm btn-default" %>
<%= link_to I18n.t('crud.back'), :back, class: "btn btn-sm btn-default" %>
