<p>
  <strong>Name:</strong>
  <%= @modulo.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @modulo.description %>
</p>
<br>
<%= link_to 'Edit', edit_modulo_path(@modulo), class: "btn btn-sm btn-default" %>
<%= link_to 'Back', :back, class: "btn btn-sm btn-default" %>
