<div class="well well-lg">
  <div class="page-header">
    <h3><%= @notification.title %><small class="pull-right"><%= @notification.limit %></small></h3>
  </div>

  <p><%= @notification.description %></p>
</div>
