<h3><%= t('properties.edit.edit')%></h3>

<%= render 'form' %>

<%= link_to I18n.t('crud.show'), @property, class: "btn btn-default btn-sm" %>
<%= link_to I18n.t('crud.back'), :back, class: "btn btn-default btn-sm" %>
