<div class="page-header">
  <%= link_to analyses_path, class: 'btn btn-default' do %>
    <span class="fa fa-chevron-left"></span>
    <%= I18n.t('crud.back') %>
  <% end %>
  <h3><%= I18n.t('analyses.new.new') %></h3>
</div>

<%= render 'form' %>
