<div class="row">
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		Aqui vai ter uma grid com informações da propriedade, produções, animais mais produtivos, avisos e informações gerais
		<p onclick="acao()">Aqui</p>
		<script>
		function acao(){
			alertify.alert("Something");
		}
		</script>
	</div>
</div>