<div class="row">
	<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
		<div class="panel panel-primary">
			<div class="panel-heading">
				Previsão do tempo
			</div>
			<div class="panel-body">
				Lista
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
		<div class="panel panel-primary">
			<div class="panel-heading">
				Preço geral produtos rurais
			</div>
			<div class="panel-body">
				Lista
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
		<div class="panel panel-primary">
			<div class="panel-heading">
				Painel boas vindas
			</div>
			<div class="panel-body">
				Lista
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
		<div class="panel panel-primary">
			<div class="panel-heading">
				Lembretes
			</div>
			<div class="panel-body">
				Lista
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
		<div class="panel panel-info">
			<div class="panel-heading">
				Proximos animais a entrar no cio
			</div>
			<div class="panel-body">
				Lista
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
		<div class="panel panel-info">
			<div class="panel-heading">
				Proximos animais a parir
			</div>
			<div class="panel-body">
				Lista
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
		<div class="panel panel-info">
			<div class="panel-heading">
				Proximos animais a secar
			</div>
			<div class="panel-body">
				Lista
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
		<div class="panel panel-info">
			<div class="panel-heading">
				Proximos animais a ter algum procedimento (mocha, desmame, desverminação)
			</div>
			<div class="panel-body">
				Lista
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
		<div class="panel panel-success">
			<div class="panel-heading">
				Media de produção por animal
			</div>
			<div class="panel-body">
				Lista
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
		<div class="panel panel-success">
			<div class="panel-heading">
				Produção mensal
			</div>
			<div class="panel-body">
				Lista
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
		<div class="panel panel-success">
			<div class="panel-heading">
				Lucro x Despesas
			</div>
			<div class="panel-body">
				Lista
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
		<div class="panel panel-success">
			<div class="panel-heading">
				Faturamento
			</div>
			<div class="panel-body">
				Lista
			</div>
		</div>
	</div>
</div>
