<h3><%= t('reproductions.edit.edit')%></h3>

<%= render 'form' %>

<%= link_to I18n.t('crud.show'), @reproduction, class:"btn btn-sm btn-default" %>
<%= link_to I18n.t('crud.back'), :back, class:"btn btn-sm btn-default" %>
