<h3>Edit <%= plural_table_name %></h3>

<%= render 'form' %>
<br>
<%%= link_to 'Show', @<%= singular_table_name %>, class: "btn btn-sm btn-default" %>
<%= link_to 'Back', :back, class: "btn btn-sm btn-default" %>
