<div class="page-header">
  <%%= link_to <%= index_helper %>_path, class: 'btn btn-default' do %>
    <span class="fa fa-chevron-left"></span>
    <%= I18n.t('crud.back') %>
  <%% end %>
  <h1><%= I18n.t('crud.creating') %> <%= singular_table_name %></h1>
</div>

<%%= render 'form' %>
