<h3><%= t('lots.edit.edit')%></h3>

<%= render 'form' %>

<%= link_to I18n.t('crud.show'), @lot, class: "btn btn-default btn-sm" %>
<%= link_to I18n.t('crud.back'), :back, class: "btn btn-default btn-sm" %>
