/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require devise_bootstrap_views
 *= require bootstrap-datepicker3
 *= require jquery.jcrop
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "alertify";
@import "alertify/default";
@import "alertify/bootstrap";
@import "font-awesome";
.profile{
	padding: 13px!important;
	img{
		width: 30px;
		padding-right: 5px;
	}
}

body {
	background: #FFF;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 100;
}
.navbar{
	background-color: #f1f1f1;
	border-radius: 0px;
	-moz-border-radius:0px;
	-o-border-radius:0px;
}

nav {
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.22);
	.navbar-brand {
		a {
			color: #e5e5e5;
			font-weight: bold;
			&:hover {
				text-decoration: none;
			}
		}
	}
}

.btn-outline {
  background-color: transparent !important;
  color: inherit;
  transition: all .5s;
}
.btn-circle {
  text-align: center;
  border-radius: 10000px;
}

.btn-round-lg {
  border-radius: 22.5px;
}

.btn-round {
  border-radius: 17px;
}

.btn-round-sm {
  border-radius: 15px;
}

.btn-round-xs {
  border-radius: 11px;
  padding-left: 10px;
  padding-right: 10px;
}

$default: #eee;
$danger: #d9534f;
$warning: #f0ad4e;
$success: #5cb85c;
$primary: #337ab7;
$info: #5bc0de;

$colors: (default $default) (danger $danger) (warning $warning) (success $success) (info $info) (primary $primary);
@each $name, $color in $colors{
    .btn-#{$name}.btn-outline {
      color: $color;
      &:hover{
        color: #fff;
        background-color: $color!important;
      }
    }
  }
